#header {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 0;
	width: 1000px;
	height: 190px;
    background: url(images/header.jpg) no-repeat;
}

#headerlink {
    display: block;
    width: 1000px;
    height: 190px;
    background-image: url(images/header.jpg) no-repeat;
}

#content {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 15px;
	padding: 0;
	width: 1000px;
}

#logout {
    float:right;
    margin-right: -5px;
    margin-top: -222px;
}

.short_input {
    border: none;
    background: blue;
    color: yellow;
    width: 139px;
    height: 18px;
    margin-bottom: 3px;
    margin-top: 2px;
    padding-bottom: 2px;
}

.short_round {
    background:  url(images/short_round.gif) no-repeat;
    padding-left: 7px;
    width: 155px;
    height: 27px;
}

.long_input {
    border: none;
    background: blue;
    color: yellow;
    width: 405px;
    height: 18px;
    margin-bottom: 3px;
    margin-top: 2px;
    padding-bottom: 2px;
}

.long_round {
    background: url(images/long_round.gif) no-repeat;
    padding-left: 7px;
    width: 421px;
    height: 27px;
}

.textarea {
    border: none;
    background: blue;
    color: yellow;   
}

.post_view {
    border: 1px solid; 
    width: 45%;
    background-color: #ffffff; 
    min-height: 100px; 
    margin-top: 20px;
    padding: 5px;
}

.post_view h1 {
    text-align: center;
}

.comment_view {
    border: 1px solid; 
    width: 45%;
    background-color: #eeeeff; 
    min-height: 100px; 
    margin-top: 20px;
    padding: 5px;
}